.ran-no-break { /* 不要換行 */
	white-space: nowrap;
}

.ran-problem-font, .ran-problem-font::marker { /* 題目的字體 */
	font-family: "Times New Roman", Times, serif;
	font-size: 18px; /* 字體大小 */
	letter-spacing: 0.02em; /* 字母之間的距離 */
	word-spacing: 0.06em; /* 單詞之間空白的距離 */
	line-height: 1.2em; /* 行距 (倍) */
}

.ran-biaukai { /* 標楷體, 用於考卷的說明文字 */
	font-family: DFKai-sb;
}
.ran-bold { /* 粗體 */
	font-weight: bold;
}

.ran-order-list { /* 編號為 (A), (B), (C), ... 的 ul/ol 清單 */
	margin: 0;
	padding-left: 1.23em; /* 題目編號與 box 左側邊緣的距離 */
	list-style-type: decimal;
	counter-reset: list-counter; /* 重置計數器，從 "A" 開始 */
}
.ran-order-list > li {
	padding-left: 0.33em; /* 題目編號與題目的距離 */
	counter-increment: list-counter; /* A, B, C, ... */
}
.ran-order-list > li:not(:first-child) {
	margin-top: 0.33em; /* 清單項目的間距 */
}
.ran-order-list > li::marker {
	content: "(" counter(list-counter, decimal) ")";
}

.ran-order-list.is-upper-alpha {
	padding-left: 1.45em; /* 題目編號與 box 左側邊緣的距離 */
	list-style-type: upper-alpha;
}
.ran-order-list.is-upper-alpha > li::marker {
	content: "(" counter(list-counter, upper-alpha) ")";
}

.ran-order-list.is-lower-alpha {
	padding-left: 1.17em; /* 題目編號與 box 左側邊緣的距離 */
	list-style-type: lower-alpha;
}
.ran-order-list.is-lower-alpha > li::marker {
	content: "(" counter(list-counter, lower-alpha) ")";
}

.ran-order-list.is-lower-roman {
	padding-left: 1.5em; /* 題目編號與 box 左側邊緣的距離 */
	list-style-type: lower-roman;
}
.ran-order-list.is-lower-roman > li::marker {
	content: "(" counter(list-counter, lower-roman) ")";
}
