.ran-no-break { /* 不要換行 */
	white-space: nowrap;
}
.ran-bold { /* 粗體 */
	font-weight: bold;
}
.ran-underline { /* 底線 */
	border-bottom: 1px solid black;
}

.ran-order-list { /* 編號為 (A), (B), (C), ... 的 ol 清單 */
	margin: 0;
	padding-left: 1.23em; /* 題目編號與 box 左側邊緣的距離 */
	list-style-type: decimal;
	counter-reset: list-counter; /* 重置計數器，從 "A" 開始 */
}
.ran-order-list > li {
	padding-left: 0.33em; /* 題目編號與題目的距離 */
	counter-increment: list-counter; /* A, B, C, ... */
}
.ran-order-list > li:not(:first-child) {
	margin-top: 0.33em; /* 清單項目的間距 */
}
.ran-order-list > li::marker {
	content: "(" counter(list-counter, decimal) ")";
}

.ran-order-list.is-number {
	padding-left: 1.22em; /* 題目編號與 box 左側邊緣的距離 */
	list-style-type: decimal;
}
.ran-order-list.is-number > li::marker {
	content: "(" counter(list-counter, decimal) ")";
}

.ran-order-list.is-upper-alpha {
	padding-left: 1.45em; /* 題目編號與 box 左側邊緣的距離 */
	list-style-type: upper-alpha;
}
.ran-order-list.is-upper-alpha > li::marker {
	content: "(" counter(list-counter, upper-alpha) ")";
}

.ran-order-list.is-lower-alpha {
	padding-left: 1.17em; /* 題目編號與 box 左側邊緣的距離 */
	list-style-type: lower-alpha;
}
.ran-order-list.is-lower-alpha > li::marker {
	content: "(" counter(list-counter, lower-alpha) ")";
}

.ran-order-list.is-upper-roman {
	padding-left: 1.5em; /* 題目編號與 box 左側邊緣的距離 */
	list-style-type: upper-roman;
}
.ran-order-list.is-upper-roman > li::marker {
	content: "(" counter(list-counter, upper-roman) ")";
}

.ran-order-list.is-lower-roman {
	padding-left: 1.5em; /* 題目編號與 box 左側邊緣的距離 */
	list-style-type: lower-roman;
}
.ran-order-list.is-lower-roman > li::marker {
	content: "(" counter(list-counter, lower-roman) ")";
}
