.ran-no-break { /* 不要換行 */
	white-space: nowrap;
}

.problem-font { /* 題目的字體 */
	font-family: "Times New Roman", Times, serif;
	font-size: 18px; /* 字體大小 */
	letter-spacing: 0.02em; /* 字母之間的距離 */
	word-spacing: 0.06em; /* 單詞之間空白的距離 */
	line-height: 1.2em; /* 行距 (倍) */
}
.problem-font-marker::marker { /* 題目的字體 */
	font-family: "Times New Roman", Times, serif;
	font-size: 18px; /* 字體大小 */
	letter-spacing: 0.02em; /* 字母之間的距離 */
	word-spacing: 0.06em; /* 單詞之間空白的距離 */
	line-height: 1.2em; /* 行距 (倍) */
}

.ran-biaukai { /* 標楷體, 用於考卷的說明文字 */
	font-family: DFKai-sb;
}
.ran-bold { /* 粗體 */
	font-weight: bold;
}

.upper-alpha-list { /* 編號為 (A), (B), (C), ... 的 ul 清單 */
	margin-top: 0;
	padding-left: 26px; /* 題目編號與 box 左側邊緣的距離 */
	list-style-type: upper-alpha;
	counter-reset: list-counter; /* 重置計數器，從 "A" 開始 */
}
.upper-alpha-list > li {
	padding-left: 6px; /* 題目編號與題目的距離 */
	counter-increment: list-counter; /* A, B, C, ... */
}
.upper-alpha-list > li::marker {
	content: "(" counter(list-counter, upper-alpha) ")";
}
.upper-alpha-list > li:not(:first-child) {
	margin-top: 6px; /* 清單項目的間距 */
}
