.native-table { /* html 原生的表格樣式 */
	border-collapse: collapse; border-spacing: 0;
}
.native-table td {
	border: 1px #000 solid;
}

span.neko::before { /* 貓咪 */
	content: "ฅ^⦁⩊⦁^ฅ ੭";
}

details.ts-accordion[open] details.ts-accordion:not([open]) summary::before { /* tocas ui bug */
	transform: rotate(270deg);
}
