.sidebar { /* 側邊欄的統一樣式 */
	position: sticky; top: 15px; /* 即使題目區往下移動, 這個 box 也會在原地 */
	width: 160px; /* 側邊欄的寬度 */
	white-space: nowrap; user-select: none; /* 禁止換行, 禁止被選取 */
}

.hyperlink { /* 超連結樣式 */
	text-decoration: none; /* 隱藏超連結的底線 */
	color: #44f;
}
.hyperlink:hover {
	color: #f3f;
}

.native-table { /* html 原生的表格樣式 */
	border-collapse: collapse; border-spacing: 0;
}
.native-table td {
	border: 1px #000 solid;
}

.neko::before {
	content: "ฅ^⦁⩊⦁^ฅ ੭";
}

details.ts-accordion[open] details.ts-accordion:not([open]) summary::before { /* tocas ui bug */
	transform: rotate(270deg);
}
